*, html,body {
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
}

/* 
navbar code  */

.buttons .sign{
	background: #B31F18; 
}

.buttons a:nth-of-type(even) {
background: #3333 ;

}
.searchBox {
	background-color: brown;
}

@media screen and (max-width: 600px) {

}



/* main code  */
main{
	width: 80vw;
	margin: 0 auto;

}

.w3-display-container{
	width: 400px; 
	margin: 20px;
}
.w3-content img {
	width: 400px; 
	height: 350px;
}
.mySlides {display:none;}

/* footer code  */
.columna {
	background-color: brown;
	display: flex;
	flex-direction: row;
	
}
.sales .column {
 display: flex;
 flex-direction: row;
}
.sales img {
height: 200px;
}
.sales .column{
	
	background: #F6F4F0;
	margin:5px;
}



@media screen and (max-width: 768px) {
	.columna {

		display: flex;
		flex-direction: column;
	}
	
	
	.column{
text-align: center;
	}
}
.legal {
	font-size: 9px;
}