*, html,body {
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
}

/* 
navbar code  */


.searchBox {
	background-color: brown;
}

@media screen and (max-width: 600px) {

}

.mySlides {display:none;}

/* footer code  */
.columna {
	background-color: brown;
	display: flex;
	flex-direction: row;
	
}
.search-footer {
	

}
.newsletterPro {

}
@media screen and (max-width: 768px) {
	.columna {

		display: flex;
		flex-direction: column;
		
	}
}
.legal {
	font-size: 9px;
}