html, * ,body{
    margin: 0 ; 
    padding: 0; 
    box-sizing: border-box; 
} 

nav {
    /* position: sticky;
    top: 0; */
    

}


nav ul { 

   background-color: #000;
display: flex; 
flex-direction: row; 
justify-content: flex-end;
}

nav ul li {

    list-style: none; 
   
 }
 nav ul li a {
     text-decoration: none; 
     margin: 0px 20px; 

     color:#fff; 

 }

 .navbar-default{
    transition:500ms ease;
    background:transparent;
  }
  .navbar-default.scrolled{
    background:#000;
  }
 main{
     z-index: -1;
 position: relative;
    background-image: url(../images/computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
height: 75Vh;
   
}

.mainMessage {
    color: white;
    position: absolute;
    top: 50%;
     left: 50%;
    transform: translate(-50%,-50%);
 
}

/* main img {
    width: 100%;
    height: auto;

} */
article {
    color : white; 

width : 200px; 
margin: 0 auto; 
    background-color: black;
}