html, * ,body{
    /* margin: 0 ; 
    padding: 0; 
    box-sizing: border-box;  */
} 
/* ^^^^^^^^^^^^^^^^nav tag code begins  ^^^^^^^^^^^^^^^^^^^^^^^^*/
nav {
    position: fixed; 
    background: rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
}


nav li a:hover {
    background: red ; 
}


/* ^^^^^^^^^^^^^^^^main tag code  begins  ^^^^^^^^^^^^^^^^^^^^^^^^*/
 main{
     z-index: -1;
 position: relative;
    background-image: url(../images/computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
height: 75Vh;
   
}

.mainMessage {
    color: white;
    position: absolute;
    top: 50%;
     left: 50%;
    transform: translate(-50%,-50%);
 
}

/* ^^^^^^^^^^^^^^^^article tag code  begins  ^^^^^^^^^^^^^^^^^^^^^^^^*/
article {
    color : white; 
width : 200px; 
margin: 0 auto; 
    background-color: black;
}